html {
  /* So we dont have to do weird box-model math */
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  overflow-y: scroll;

  font-size: 62.5%;
  --main-color-light: #3ca0fd;
  --main-color: rgb(2, 121, 233);
  --main-color-dark: #0257a6;

  --secondary-color-dark: #ff8679;
  --secondary-color: rgba(255, 192, 185, 1);
  --secondary-color-light: #ffdfdc;
  --secondary-color-transparent-50: rgba(255, 192, 185, 0.5);

  --white-but-chilly: #f8fcff;

  --header-gradient: linear-gradient(
    67deg,
    rgba(63, 187, 255, 1) 0%,
    rgba(109, 47, 217, 1) 35%,
    rgba(98, 37, 203, 1) 46%,
    rgba(255, 192, 185, 1) 100%
  );

  --snappy-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  line-height: 1.35;
}

*::selection {
  color: var(--main-color);
  background: var(--secondary-color-light);
}

* {
  font-size: 1.6rem;
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--main-color);
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.8rem;
  font-family: "Oxygen", sans-serif;
}

h3 {
  font-size: 2.4rem;
  font-family: "Oxygen", sans-serif;
}

img {
  width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input:focus,
button:focus {
  outline: none;
}

input,
button {
  transition: all var(--snappy-transition);
  padding: 4px 16px;
  border-radius: 3px;
  border: 1px solid lightgray;
}

input {
  padding: 8px 16px;
}

button:hover {
  cursor: pointer;
}

input[type="date"] {
  padding: 9px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-size: 1.8rem;
  background: #f1f8ff;
  color: var(--secondary-color-dark);
  padding: 2px 6px;
  border-radius: 2px;
}
